<form action="/create" method="post">
	
	<label for="name"> Event Name </label>
	<input id="name" name="name" type="text">
	<br> <br>
	
	<label for="location"> Location </label>
	<input id="location" name="location" type="text">
	<br> <br>
	
	<label for="date"> Date </label>
	<input id="date" name="date" type="datetime-local">
	<br> <br>

	<label for="description"> Enter A Description </label>
	<input id="description" name="description" type="textarea">
	<br> <br>

	<input type="submit" value="Create Your Event">
	
</form>